/* body {
  margin: 0;
  background: var(--background-color);
  color: var(--primary-color);
  font-family: sans-serif;
}

.container {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * var(--spacing));
  gap: var(--spacing);
}

.header {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.actions {
  display: flex;
  gap: calc(var(--spacing) / 2);
}

#random-btn {
  flex: 1;
}

#qotd {
  flex: 1;
  flex-basis: 100%;
  font-size: 2.5rem;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: manual;
}

footer {
  margin-top: 2em;
  font-style: italic;
}

.watermark-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
}

.watermark-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.actions button {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 900;
}

button {
  border-radius: 4px;
  border: 0;
  padding: 8px;
  font-size: 0.6em;
}

button:hover {
  background-image: linear-gradient(#0000, #0000000d 40%, #0000001a);
} */
