:root {
  --primary-color: #46a5ee;
  --secondary-color: #ff6b76;
  --text-color: var(--primary-color);
  --background-color: #fff;
  --spacing: 32px;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--primary-color);
  font-family: sans-serif;
}

.container {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * var(--spacing)); /* Full vertical height but Account for margin on top and bottom. */
  gap: var(--spacing);
}

.header {
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  color: var(--secondary-color);
}

#qotd {
  flex: 1;
  flex-basis: 100%;
  font-size: 3rem;
  text-align: center;
  overflow-wrap: break-word;
  hyphens: auto;
}

.footer {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 2em;
  font-style: italic;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.watermark-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
  z-index: -1;
}

.watermark-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
